* {
	margin: 0;
	padding: 0;
}
.showError{
	border: 2px solid red;
}
.main {
	width: 550px;
	height: 400px;
	display: flex;
	margin: 150px auto;
	overflow: auto;
	display: block;
}

table {
	width: 450px;
	height: 350px;
	margin: auto;
	border: 1px solid #992356;
	font-family: "Microsoft yahei";
	background: url(http://img1.imgtn.bdimg.com/it/u=2369260128,1748046799&fm=26&gp=0.jpg);
	background-size: 100% 100%;
	padding: 10px;
	border-radius: 13px;

}
table th {
	font-size: 18px;
	color: #845645;
}
table td{
	height: 40px;
	width: 100px;
	padding-left: 2px;
	padding-bottom: 2px;
	text-align: center;
}
table tr button{
	font-size: 16px;
	background: none;
	width: 98%;
	height: 98%;
	border: 1px solid #845612;
	border-radius: 5px;
	color: #845652;
	cursor: pointer;
}

#history,#calc {
	width: 100%;	
	box-sizing: border-box;
	border: 1px solid #992356;
	background-color: white;
	text-align: right;
	padding: 5px;
	margin-bottom: 0;
	padding: 5px;

}
#history {
	height: 85px;
	font-size: 12px;
	border-bottom-color: transparent;
	overflow: scroll;
}
#calc{
	position: relative;
	top : -20px;
	font-size: 16px;
	height: 40px;
	margin-top: 0;
	border-top-color: transparent;
}