*{margin: 0;padding: 0;}
table {
	border: 2px solid #996c33;
	width: 550px;
	padding: 10px;
	margin: 150px auto;
	border-radius: 10px;
	background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1550124120374&di=943c01f887740b01e7c36bff0c4aaafe&imgtype=0&src=http%3A%2F%2Fimg.xinxic.com%2Fimg%2Fadca4bb2387ecf00.jpg);
	background-size: 100% 100%;
}
table td {
	text-align: center;
	width: 100px;
	height: 40px;
	padding-left: 2px;
	padding-bottom: 2px;
}
table th{
	font-size: 18px;
	color: #8B0000;
}
table td button{
	width: 98%;
	height: 98%;
	font-size: 16px;
	font-family: "Microsoft yahei";
	background: none;
	color: #8B4726;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;

}
table td input {
	width: 100%;
	margin: 10px 0;
	padding: 5px;
	border: 1px solid #996c33;
	box-sizing: border-box;
	text-align: right;
	font-size: 16px;
	font-family: "Microsoft yahei";
}